@model IEnumerable<OrderModel>
@{
    ViewData["title"] = "List Orders";

    Paginate pager = new Paginate();

    int pageNo = 0;

    if (ViewBag.Pager != null)
    {
        pager = ViewBag.Pager;
        pageNo = pager.CurrentPage;
    }
}

<h3>List Orders</h3>

<table class="table" id="myTable">
    <thead>
        <tr>
            <th scope="col">Order Code</th>
            <th scope="col">UserName</th>
            <th scope="col">Order Date</th>
            <th scope="col">Order Status</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th scope="row">@item.OrderCode</th>
                <td>@item.UserName</td>
                <td>@item.CreatedDate</td>
                <td>
                    @if (@item.Status == 1)
                    {
                        <span class="text text-success">Đơn hàng mới</span>
                    }
                    else
                    {
                        <span class="text text-danger">Đã xử lý</span>
                    }
                </td>
                <td>
                    @*<a href="/Admin/Order/ViewOrder/@item.OrderCode" class="btn btn-warning btn-sm">View Order</a>*@
                    @*<a href="/Admin/Order/ViewOrder?orderCode=@item.OrderCode" class="btn btn-warning btn-sm">View Order</a>*@
                    <a asp-controller="Order" asp-action="ViewOrder" asp-route-orderCode="@item.OrderCode" class="btn btn-warning btn-sm">View Order</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<partial name="_Paging" model="@pager">